<div class="card-panel teal lighten-2">
  <h1>About Us</h1>
</div>


<p>The mission of the School is to offer students the opportunity to develop many skills that will facilitate the pursuit of lifelong goals.</p>
