<html>
<head>

<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>


</head>
<body>
</body>

<!-- <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

<script>$(".button-collapse").sideNav();</script>
-->
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Get School'd </a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href=".html">Home</a></li>
        <li><a href="badges.html">About</a></li>
        <li><a href="collapsible.html">Students</a></li>
        <li><a href="collapsible.html">Teachers</a></li>
        <li><a href="collapsible.html">Courses</a></li>
      </ul>
    </div>
  </nav>
  </script>
  </html>